<div class="container search-table">
  <div class="search-box mt-4">
    <div class="row">
      <div class="col-md-9">
        <input
          type="text"
          id="myInput"
          class="form-control"
          [formControl]="queryField"
          placeholder="Pesquisar libs"
        />
      </div>
      <div class="col-auto">
        <button class="btn btn-md btn-success" (click)="onSearch()">
          Pesquisar
        </button>
      </div>
    </div>
  </div>
  <div class="search-list mt-4">
    <h3>x Registros encontrados.</h3>
    <table class="table mt-4" id="myTable">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Versão</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of resultados$ | async">
          <td>{{ item.name }}</td>
          <td>{{ item.version }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
