<div class="container">
  <h3 class="mt-4 ml-3">RxJS POC - Unsubscribe</h3>
  <div class="row mt-4 ml-3">
    <form class="form-inline">
      <div class="form-group mr-sm-2">
        <input type="text" class="form-control" placeholder="Valor" #valor />
      </div>
      <div class="form-group mx-sm-2">
        <button
          (click)="emitirValor(valor.value)"
          class="btn btn-outline-primary"
          type="button"
        >
          Emitir Valor
        </button>
      </div>
      <div class="form-group mx-sm-2">
        <button
          (click)="toggleMostrarComponentes()"
          class="btn btn-outline-danger"
          type="button"
        >
          Mostrar / Destruir Componentes
        </button>
      </div>
    </form>
  </div>
  <div class="row mt-4 ml-3" *ngIf="mostrarComponentes">
    <app-sem-unsubscribe class="col-md-4"></app-sem-unsubscribe>
    <app-unsubscribe-poc class="col-md-4"></app-unsubscribe-poc>
    <app-async-poc class="col-md-4"></app-async-poc>
    <app-take-util-poc class="mt-4 col-md-4"></app-take-util-poc>
    <app-take-poc class="mt-4 col-md-4"></app-take-poc>
  </div>
</div>
