<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="form-group">
    <label for="nome">Nome</label>
    <input
      type="text"
      class="form-control"
      [class.is-invalid]="!nome.valid && nome.touched"
      id="nome"
      name="nome"
      placeholder="Informe seu nome"
      [ngModel]="usuario.nome"
      required
      #nome="ngModel"
    />
    <div class="invalid-feedback">Informe um nome válido</div>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input
      type="email"
      class="form-control"
      [class.is-invalid]="!email.valid && email.touched"
      id="email"
      name="email"
      placeholder="nome@email.com"
      [ngModel]="usuario.email"
      required
      email
      #email="ngModel"
    />
    <div class="invalid-feedback">Informe um email válido</div>
  </div>

  <button [disabled]="!f.valid" type="submit" class="btn btn-primary">
    Enviar
  </button>
</form>
