<nav>
  <div class="nav-wrapper">
    <a routerLink="" class="brand-logo right">Logo</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li routerLinkActive="active"><a routerLink="/login">Login</a></li>
      <li routerLinkActive="active"><a routerLink="/cursos">Cursos</a></li>
      <li routerLinkActive="active">
        <a [routerLink]="['cursos', inputIdCurso.value]">Curso com Id</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <input type="text" #inputIdCurso />
  <router-outlet></router-outlet>
</div>
