<h5>Exemplo com Pipes</h5>

<p>Título: {{ livro.title | uppercase | camelCase}}</p>
<p>Estrelas: {{ livro.rating | number: "1.1-2" }}</p>
<p>Páginas: {{ livro.pagesNumber | number }}</p>
<p>Preço: {{ livro.price | currency: "BRL":true }}</p>
<p>Data de lançamento: {{ livro.publishDate | date: "dd/MM/yyyy" }}</p>
<p>Url: {{ livro.url }}</p>
<br />
<p>Livro: {{ livro | json }}</p>

<input type="text" [(ngModel)]="filtro">
<br>
<input type="text" #novoCursoInput>
<button (click)="addLivro(novoCursoInput.value)">Adicionar Curso</button>
<br>
<ul>
  <li *ngFor="let livroNome of livros | filtroArray:filtro ">{{ livroNome }}</li>
</ul>
