<div class="card">
  <div class="card-header">
    <h4>Cursos</h4>
    <div class="float-right">
      <button class="btn btn-primary" type="button" [routerLink]="['novo']">
        Novo
      </button>
      <button (click)="onRefresh()" class="btn btn-secondary" type="button">
        Atualizar
      </button>
    </div>
  </div>
  <div class="card-body">
    <table
      *ngIf="cursos$ | async as cursos; else loading"
      class="table table-hover"
    >
      <thead>
        <tr>
          <th>#</th>
          <th>Curso</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let curso of cursos">
          <td>{{ curso.id }}</td>
          <td>{{ curso.nome }}</td>
          <td>
            <span class="float-right">
              <button class="btn btn-outline-warning mb-1 btn-sm">
                Atualizar
              </button>

              <button class="btn btn-outline-danger mb-1 btn-sm">
                Remover
              </button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <ng-template #loading>
      <div *ngIf="error$ | async; else spinner">
        Erro no carregamento dos cursos. Tente novamente mais tarde.
      </div>
      <ng-template #spinner>
        <div class="text-center">
          <div
            class="spinner-border text-primary"
            style="width: 3rem; height: 3rem"
            role="status"
          >
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </ng-template>
    </ng-template>
  </div>
</div>
